@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #446df6;
  --secondary-color: #0c9142;
  --text-primary-color: #222222;
  --text-secondary-color: #4d4d4d;
  --text-light-color: #e6ffff;
  --text-light-color-2: #c8c8c8;
  --bg-shade-blue: #446df620;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin-top: 4rem;
}

.img-logo {
  width: 80px;
}

.divider{
  width: 100%;
  height: 2px;
  background-color: var(--text-light-color-2);
  margin: 1rem 0;
}

.btn-primary {
  border: none;
  outline: none;
  padding: 0.5rem 0.8rem;
  border-radius: 0.4rem;
  color: var(--text-light-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.btn-primary:active {
  transform: scale(0.98);
}

/* Navbar Styles */

.navbar {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.navbar-toggler,
.navbar-toggler:focus {
  border: none;
  outline: none;
  transition: 0.3s transform ease-in-out;
  box-shadow: none;
}

.navbar-toggler:active {
  transform: scale(0.8);
}

.navbar-toggler span {
  height: 2.2rem;
  width: 2.2rem;
}

.nav-item .nav-link {
  color: var(--primary-color);
  font-weight: 400;
  margin-right: 1rem;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}

.nav-item .nav-link:hover {
  background-color: var(--bg-shade-blue);
  border-radius: 0.4rem;
}

#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item {
  font-weight: 400;
}

/* Footer Styles */

footer {
  width: 100%;
  background-color: var(--text-primary-color);
}

.footer {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  padding: 4rem 1rem !important;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.footer .footer-section {
  min-width: 200px;
  max-width: 350px;
  color: var(--text-light-color);
}

.footer .footer-section .brand-text {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  justify-content: flex-start;
  font-weight: 500;
  gap: 1rem;
  text-decoration: none;
  color: var(--secondary-color);
}

.footer .footer-section.flex-grow-1 h6 {
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.footer .footer-section .site-info {
  display: flex;
  flex-direction: column;
  margin-top: 0.8rem;
  color: var(--text-light-color-2);
}

.footer .footer-section .site-info a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.2s ease-in-out;
}

.footer .footer-section a {
  color: var(--text-light-color);
}

.footer .footer-section ul {
  list-style: none;
  padding-left: 0;
}

.footer .footer-section ul li a {
  color: var(--text-light-color-2);
  font-weight: 200;
  text-decoration: none;
}

.footer .footer-section ul li a:hover {
  cursor: pointer;
}

.social-icon-links {
  display: flex;
  gap: 1rem;
  padding-top: 0.2rem;
}

.social-icon-links a {
  text-decoration: none;
}

.social-icon-links a i {
  font-size: 1.2rem;
  transition: color 0.2s ease-in-out;
}

.social-icon-links a i:hover {
  color: var(--primary-color);
}

footer .footer-end {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  color: var(--text-light-color-2);
  justify-content: space-between;
}

.footer-end {
  padding-bottom: 1.5rem !important;
}

