*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
	
}


.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
	background: rgba(239, 239, 239, 0.25);
	margin-top: 50px;
	margin-bottom: 100px;
	
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	margin-bottom: 90px;
	padding: 0 1px;
}

.img img{
     height: 500px;
	 width: auto;
}

form{
	width: 300px;
	height: 450px;
	align-items: center;
	background: rgba(209, 213, 225, 0.25);
	
}
.title{
	font-size: 25px;
	font-family: sans-serif;
	text-transform: uppercase;


}

.login-content img{
    height: 65px;
}

.login-content h2{
	margin: 18px 0;
	color: #4d4d4d;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    
	margin-left: 10px;
	margin-right: 30px;
}
.login-content .input-div .div {
	text-align: left;
  }

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #c8c8c8;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0px;
}

.i i{
	transition: .3s;
}




.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div >{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #3642cc;
	
}

/* Add box styling to the username inputs */

  
  /* Add box styling to the focused input */
  .input-div.focus {
	/* Adjust the border color to your preference when focused */
	border-color: #0c9142;
  }
  .div{
	margin-left: 0;
  }
  
  /* Adjust the input font size if needed */
  .input-div input {
	font-size: 1.2rem;
  }
  

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #4d4d4d;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: #0c9142;
}

.btn{
	display: block;
	width: 100%;
	align-items: center;
	
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #446df6, #0c9142, #446df6);
	background-size: 200%;
	font-size: 1.2rem;
	color: #e6ffff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}
.google {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .gsvg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px; /* Adjust the width of the container to your preference */
	height: 30px; /* Adjust the height of the container to your preference */
  }
  @import url(https://fonts.googleapis.com/css?family=Roboto:500);
.google-btn {
  width: 190px;
  height: 40px;
  background-color: #446df6;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(34, 228, 17, 0.93);
  
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #e6ffff;
}
.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 0px;
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  float: right;
  color: #e6ffff;
  font-size: 14px;
  letter-spacing: 0.3px;
  font-family: "Roboto";
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
.google-btn:hover {
  box-shadow: 0 0 6px #446df6;
}
.google-btn:active {
  background: #0c9142;
}

@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}
@media screen and (max-width: 600px) {
	form {
	  width: 80%; /* Adjust the width for mobile */
	  max-width: 300px; /* Set a maximum width for small screens */
	}
@keyframes fadeInOut {
	0% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  
  /* Apply the animation to the "title" class */
  .title {
	animation: fadeInOut 2s infinite;
  }