.card-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  max-width: 300px;
  height: 360px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: var(--text-light-color);
  padding: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-shade-blue);
  border-radius: 0.5rem;
  padding: 0.8rem;
  height: 280px;
  min-width: 100%;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.publish-date,
.job-type {
  padding: 0.2rem 0.8rem;
  background-color: var(--text-light-color);
  border-radius: 20px;
  font-size: 0.8rem;
  min-width: 85px;
  text-align: center;
}

.btn-bookmark {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: var(--text-light-color);
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: 0 0 10px 0 var(--shadow-dark);
}

.btn-bookmark:hover {
  background-color: var(--primary-color);
  color: var(--text-light-color);
}

.middle-section {
  display: flex;
  padding-top: 1rem;
  align-items: center;
  justify-content: space-between;
}

.job-details-left {
  max-width: 250px;
}

.company {
  font-size: 1.2rem;
  font-weight: 400;
}

.job-title {
  color: var(--text-primary-color);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.company-image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 45px;
  height: 100%;
  max-width: 45px;
  width: 100%;
  padding: 0.5rem;
  border-radius: 100%;
  background-color: var(--shadow-dark);
}

.bottom-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}

.description {
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.location-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.location-text {
  font-size: 0.8rem;
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.job-type {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  color: var(--text-secondary-color);
}

.job-footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
}

.salary {
  margin-bottom: 0;
  font-size: 1.2rem;
  color: var(--text-secondary-color);
}
